body {
    background-color: #dddddd;
}

.container2 {
    background-color: #ffffff; 
    border: outset;
    float: right;
    
}

.container3 {
    
    
    border: outset;
    margin: 0;
    width: 100%;
    height: 10%;
    
}

div .box1 {
    float: left;
    background-size: contain;
    background-color: #4aaaa5;
}

}

nav {
    float: right;
}

footer {
    flex: 0%;
    float: left;
    border: outset;
    background-color: darkgray;
    display: flow-root;
    float: left;
    margin: 0;
    padding: 0;
    width: 99%;
    height: 10%;
}
 box3 {
     border-bottom: groove;
 }