* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url(../images/beanstalk.png);
    background-repeat: repeat;
    font-family: Arial;
    font-size: 18px;
    color: #777;
    line-height: 28px;
}

div {
    display: block;
}

/* header-styling */
header {
    background-color: #fff;
    margin-bottom: 40px;
    border-bottom: 2px solid #ccc;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(204, 204, 204);
    height: 92px;
    


}

/* nav-styling */
nav ul li {
    display: inline-block;
    line-height: 90px;
}

ul {
    list-style-type: disc;
}

ol,ul {
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
}

nav {
	float: right;
}

nav ul {
	display: block;
}

nav ul li a {
    text-decoration: none;
    color: #999;
    margin-left: 20px;
    line-height: 22px;
    padding-left: 20px;
    border-left: 1px solid #ddd;
}

/*  wrapper styling */
.wrapper {
    width: 960px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    clear: both;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}


/* styling for logo component  */
#logo {
    float: left;
    display: block;
    background-color: #4aaaa5;
    color: #fff;
    font-family: "Georgia";
    font-size: 30px;
    padding: 0 40px;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
    line-height: 90px;
    font-weight: bold;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
