* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url(../images/beanstalk.png);
    background-repeat: repeat;
    font-family: Arial;
    font-size: 18px;
    color: #777;
    line-height: 28px;
}

div {
    display: block;
}


/* header-styling */
header {
    background-color: #fff;
    margin-bottom: 40px;
    border-bottom: 2px solid #ccc;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(204, 204, 204);
    height: 92px;
    


}

/* nav-styling */
nav ul li {
    display: inline-block;
    line-height: 90px;
}

ul {
    list-style-type: disc;
}

ol,ul {
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
}

nav {
	float: right;
}

nav ul {
	display: block;
}

nav ul li a {
    text-decoration: none;
    color: #999;
    margin-left: 20px;
    line-height: 22px;
    padding-left: 20px;
    border-left: 1px solid #ddd;
}


/*  wrapper styling */
.wrapper {
    width: 960px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    clear: both;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;

}


/* styling for logo  */
#logo {
    float: left;
    display: block;
    background-color: #4aaaa5;
    color: #fff;
    font-family: "Georgia";
    font-size: 30px;
    padding: 0 40px;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
    line-height: 90px;
    font-weight: bold;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

/* middle component*/
.module {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ddd;
}

#content {
    float: left;
    width: 650px;
}

h1 {
    font-size: 30px;
    border-bottom: 2px solid #ccc;
}

h1, h2 {
    font-family: "Georgia";
    color: #4aaaa5;
    padding-bottom: 30px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
}
.peter {
    float: left;
    margin-right: 30px;
    height: 273px;
}

/* side middle component */
#social {
    width: 270px;
    float: right;
    text-align: center;
}

h2 {
    font-size: 22px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#social img {
    height: 60px;
    width: auto;
}

#social a {
    margin-right: 8px;
}

#social a:last-child {
    margin-right: 0;
}

a {
    text-decoration: none;
}


/* contact page styling */
form {
    display: block;
    margin-left: -41px;
}

#contact-form li {
    margin-bottom: 10px;
}

label {
    display: block;
    width: 100%;
}

input[type=text], input[type=email], textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
}

label, input[type=text], input[type=email], textarea {
    display: block;
    width: 100%;
}

textarea {
    height: 200px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
}
/* footer */

footer {
    text-align: center;
    background-color: #777;
    color: #ccc;
    line-height: 90px;
    margin-top: 40px;
    border-top: 8px solid #4aaaa5;
    font-size: 12px;
    position: relative;
    bottom: -6px;
    position: relative;    
}

input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
    margin-left: 40px;
}

.work:nth-child(even) {
    margin-right: 40px;
}

.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
    height: 214px;
}

.work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}

.work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
    font-family: "Georgia";
    font-size: 22px;
}